body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}

/*INICIO SIDEBAR*/

.container-fluid{
    width: 100%;
    height: 8vmin;
    align-items: center;      
}

.user{
    width: 100%;
    height: 10vmin;            
    display: flex;   
    align-items: center;
    flex-direction: row-reverse;  
    justify-content: right;  
}

.user h1{
    font-size: 3vmin;
    font-weight: 800;
}

.user img{    
    width: 25vmin;
    height: 15vmin;        
}

.dp-menu ul li{
    background-color: var(--primary);
    display: inline-block;
    text-decoration: none;
    font-size: 1.5ex; 
}   

.dp-menu ul{    
    list-style-type: none;     
    background-color: var(--primary);    
}

.dp-menu ul li a{
    padding: 10px;
}  

.dp-menu ul li a:hover{
    background-color:#fff;
    position: relative;
}   
/*FIM SIDEBAR*/

/*INÍCIO BODY*/
.body{
    width: 80%;
    min-height: 50vh;
    margin: 0 auto;
    padding: 30px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-title{
    width: 80%;
    margin-bottom: 20px;
    font-size: 6vmin;
    text-align: center;
}

.body-text{
    font-size: 3vmin;
}
.line{
    width: 250px;
    height: 2px;
    background-color: var(--secondary);
    border-radius: 8px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.line-bottom{
    width: 250px;
    height: 2px;
    background-color: var(--secondary);
    border-radius: 8px;
    margin-bottom: 200px;
    margin-top: 20px;
}

.body-list{
    margin-left: 10%;
    width: 80%;
    display: flex;
    align-items:center;
    flex-wrap: wrap;
}   

.body-list-item{
    margin-top:30px;
    max-width: 350px;
    text-align: center;   
}

.img-body {
    width: 80%;
    margin: 10px;
    transition: .5s;
    cursor: pointer;     
}

.img-body:hover {
    transform: scale(1.2);
}

.body-list p{
    margin-top: 10px;
}

/*FIM BODY*/

/*RODAPÉ*/
    .rodape{
        width: 80%;        
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rodape-title{
        font-weight: 900;
        font-size: 2vmin;
    }

    .rodape-text{
        font-size: 1.5vmin;
        color: gray;
        text-align: center;
    }

    .rodape-text2{
        font-size: 1vmin;
        font-weight: 800;
    }
        
/*FIM RODAPÉ*/