body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}


/* INÍCIO HEADER */
.header-top{
    width: 100%;
    height: 80px;
    padding: 10px 30px;
    background-color: transparent;
    transition: 0.5s;
    display: flex;
    justify-content:space-between;
}

.header-top img{
    width: 150px;
}    

.navbar-collapse{
    width: auto; 
    z-index: 1;  
}

.navbar-collapse.show{     
    background-color: #f3f3f3;
}


.nav-link{
    text-transform: uppercase;
    font-weight: 500;
    padding: 0 0;
    color: #000;
    border-bottom: solid 2px transparent;
}

.nav-link:hover{
    border-bottom:solid 2px var(--primary);
    color: var(--primary);
}

/* FIM HEADER */